#amung{
    width: 5%;
    position:absolute;
    top: 20%;
}
.NBA{
    width: 3%;
    position:absolute;
    top: 0%;
}
.money{
    position: absolute;
    top: 1%;
    left: 5%;
    font-weight:bold  ;
    font-size: 30px;
}
.ff{
    position: absolute;
    left: 20%;
    font-weight:bold  ;
    font-size: 30px;
}
.gg{
    top: 19%;
}
.hh{
    top: 33%;
}
.ii{
    top: 47%;
}
.jj{
    top: 62%;
}
.unsub{
    top: 32%;
}
.neth{
    top: 61%;
}
.monep{
    position: absolute;
    left: 60%;
    font-weight:bold  ;
    font-size: 30px;
}
.dim{
    top: 46%;
}
.dub{
    top: 18%;
}
.sub{
    top: 5%;
}
#s{
    width: 5%;
    position:absolute;
    top:5%;
    left: 7%;
}
.alike{
    font-weight:bold  ;
    font-size: 50px;
    position: absolute;
    left: 17%;
}
.cobb{
   top: 6%; 
}
.iron{
    top: 18%;
}
.gold{
    top: 32%;
}
.dimonds{
    top: 46%;
}
.net{
    top: 61%;
}
.bed{
   top: 81%; 
}
.sup{
    top: 81%;
}
#su{
    width: 5%;
    position:absolute;
    top:17%;
    left: 7%;
}
#sus{
    width: 5%;
    position:absolute;
    top: 31%;
    left: 7%;
}
#jeSUS{
    width: 5%;
    position:absolute;
    top:45%;
    left: 7%;
}
#jeSUSy{
    width: 5%;
    position:absolute;
    top: 60%;
    left: 7%;
}
#jeSUSe{
    width: 5%;
    position:absolute;
    top: 80%;
    left: 7%;
}
#susybaka{
    width: 5%;
    position:absolute;
    top: 50%;
    left: 80%;
}
#a{
    width: 3%;
    position:absolute;
    top: 5%;
    left: 65%;
}
#b{
    width: 3%;
    position:absolute;
    top: 17%;
    left: 65%;
}
#c{
    width: 3%;
    position:absolute;
    top: 31%;
    left: 65%;
}
#d{
    width: 3%;
    position:absolute;
    top: 45%;
    left: 65%;
}
#e{
    width: 3%;
    position:absolute;
    top: 60%;
    left: 65%;
}
#f{
    width: 3%;
    position:absolute;
    top: 80%;
    left: 65%;
}
.kk{
    top: 82%;
}
.yoyo{
    position: absolute;
    left: 50%;
    top: 30%;
    width: 8%;
}
.yoyoyoyo{
    position: absolute;
    left: 40%;
    top: 30%;
    width: 10%;
}
.ss{
    position: absolute;
    left: 45%;
    top: 50%;
    width: 10%;
}